<a href="https://colab.research.google.com/github/moneypitak/DWDM21/blob/main/Data_Preprocessing_(Chapter3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # ทำงานกับข้อมูลลักษณะ ตาราง

In [2]:

from google.colab import drive # package เชื่อม google  drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # จัดการไฟล์และ path (ที่อยู่ของไฟล์)

In [4]:
path = '/content/drive/My Drive/DWDM2021_DATA'

In [6]:
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_cases

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
633279  633280      2/8/2021  ...     กรุงเทพมหานคร               NaN
633280  633281      2/8/2021  ...     กรุงเทพมหานคร               NaN
633281  633282      2/8/2021  ...     กรุงเทพมหานคร               NaN
633282  633283      2/8/2021  ...     กรุงเทพมหานคร               NaN
633283  633284      2/8/2021  ...     กรุงเทพมหานคร               NaN

[633284 rows x 11 columns]

## Meta Data ( Data ที่ใช้อธิบาย Data)

# ชี้ข้อมูลในตาราง

### ชี้แบบธรรมดาใช้ [ชื่อ colcum][index]

In [7]:
data_cases['risk']

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
633279                    ทัณฑสถาน/เรือนจำ
633280                    ทัณฑสถาน/เรือนจำ
633281                    ทัณฑสถาน/เรือนจำ
633282                    ทัณฑสถาน/เรือนจำ
633283                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 633284, dtype: object

In [8]:
data_cases['risk'][678]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [12]:
data_cases[['age','sex','risk']]

       age   sex                              risk
0       61  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ
1       74  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ
2       73  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ
3       68   ชาย  คนต่างชาติเดินทางมาจากต่างประเทศ
4       66  หญิง  คนต่างชาติเดินทางมาจากต่างประเทศ
...     ..   ...                               ...
633279  38   ชาย                  ทัณฑสถาน/เรือนจำ
633280  38  หญิง                  ทัณฑสถาน/เรือนจำ
633281  39  หญิง                  ทัณฑสถาน/เรือนจำ
633282  36  หญิง                  ทัณฑสถาน/เรือนจำ
633283  30  หญิง                  ทัณฑสถาน/เรือนจำ

[633284 rows x 3 columns]

### ชี้แบบ .iloc[] (มองข้อมูลเป็น martix)

In [13]:
data_cases.iloc[678,8]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [14]:
data_cases.iloc[-10:,4:9:2]

       age nationality              risk
633274  37         NaN  ทัณฑสถาน/เรือนจำ
633275  38         NaN  ทัณฑสถาน/เรือนจำ
633276  31         NaN  ทัณฑสถาน/เรือนจำ
633277  53         NaN  ทัณฑสถาน/เรือนจำ
633278  42         NaN  ทัณฑสถาน/เรือนจำ
633279  38         NaN  ทัณฑสถาน/เรือนจำ
633280  38         NaN  ทัณฑสถาน/เรือนจำ
633281  39         NaN  ทัณฑสถาน/เรือนจำ
633282  36         NaN  ทัณฑสถาน/เรือนจำ
633283  30         NaN  ทัณฑสถาน/เรือนจำ

In [16]:
data_cases.iloc[-10:,[3,4,8]]

         sex age              risk
633274   ชาย  37  ทัณฑสถาน/เรือนจำ
633275   ชาย  38  ทัณฑสถาน/เรือนจำ
633276  หญิง  31  ทัณฑสถาน/เรือนจำ
633277  หญิง  53  ทัณฑสถาน/เรือนจำ
633278  หญิง  42  ทัณฑสถาน/เรือนจำ
633279   ชาย  38  ทัณฑสถาน/เรือนจำ
633280  หญิง  38  ทัณฑสถาน/เรือนจำ
633281  หญิง  39  ทัณฑสถาน/เรือนจำ
633282  หญิง  36  ทัณฑสถาน/เรือนจำ
633283  หญิง  30  ทัณฑสถาน/เรือนจำ

In [17]:
data_cases.describe()

                 No.
count  633284.000000
mean   316642.500000
std    182813.488274
min         1.000000
25%    158321.750000
50%    316642.500000
75%    474963.250000
max    633284.000000

In [44]:
from matplotlib import pyplot as plt

# Missing Values

* naN = not a number
* Null
* NA = not available

In [22]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
633279  633280      2/8/2021  ...     กรุงเทพมหานคร               NaN
633280  633281      2/8/2021  ...     กรุงเทพมหานคร               NaN
633281  633282      2/8/2021  ...     กรุงเทพมหานคร               NaN
633282  633283      2/8/2021  ...     กรุงเทพมหานคร               NaN
633283  633284      2/8/2021  ...     กรุงเทพมหานคร               NaN

[633284 rows x 11 columns]

In [21]:
data_cases.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
633279  False          False  ...              False               True
633280  False          False  ...              False               True
633281  False          False  ...              False               True
633282  False          False  ...              False               True
633283  False          False  ...              False               True

[633284 rows x 11 columns]

In [23]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

# Handing Missing Value 1 (ลบ missing)

In [28]:
data_cases.dropna()

           No. announce_date  ... province_of_onset district_of_onset
47          48      6/3/2020  ...     กรุงเทพมหานคร           คลองตัน
124        125      6/3/2021  ...          ปทุมธานี           ธัญบุรี
161        162     17/3/2020  ...      สุราษฎร์ธานี             เมือง
181        182     18/3/2020  ...           ขอนแก่น             เมือง
186        187     18/3/2020  ...          ร้อยเอ็ด         เชียงขวัญ
...        ...           ...  ...               ...               ...
632706  632707      2/8/2021  ...     กรุงเทพมหานคร            ธนบุรี
632707  632708      2/8/2021  ...     กรุงเทพมหานคร             บางนา
632708  632709      2/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
632709  632710      2/8/2021  ...     กรุงเทพมหานคร            ดินแดง
632710  632711      2/8/2021  ...     กรุงเทพมหานคร           พระโขนง

[417373 rows x 11 columns]

In [34]:
data_cases.dropna().shape[0]

633284

## Quiz 3 ให้หาว่าการทำ dropna() ทำให้ข้อมูลหายไปกี่ %
(commit ว่า quiz 3 ก่อน 11.05)

```
size before drop = 1000
size after drop = 10
we loss 99% of data
```

In [39]:
after = data_cases.shape[0] - data_cases.dropna().shape[0]
after

215911

ของอาจารย์

In [41]:
removed = data_cases.shape[0] - data_cases.dropna().shape[0]

print(f'size before drop = {data_cases.shape[0]}')
print(f'size after drop = {data_cases.dropna().shape[0]}')
print(f'we lost {100*(removed/data_cases.shape[0])}% of data')

size before drop = 633284
size after drop = 417373
we lost 34.093866259055964% of data